* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

.heading {
    padding: 20px 0;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    background-color: rgb(174, 138, 192);
}
.hero,
.body,
.bar,
.footer {
  background-color: bisque;
  padding: 30px 0;
  margin: 30px 0;
}

.responsivediv {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  background-color: royalblue;
  border: 1px solid black;
}

.box {
  height: 25vh;
  background-color: cadetblue;
  border: 1px solid black;
}

.red {
  background-color: red !important;
  color: aliceblue;
}

.five {
  background-color: darkorange !important;
}
